<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div>
      <% flash.each do |error|%>
        <h3><%= error %></h3>
      <% end%>
    </div>
    <% if logged_in?%>
      <nav>
        <a href="<%= user_url(current_user) %>">My page</a>
        <br>
        <a href="<%= subs_url %>">Subs list</a>
        <br>
        <a href="<%= new_sub_url %>">Make a new sub</a>
        <form action="<%= session_url %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="Log out">
        </form>
      </nav>
    <% end%>
  </header>
    <%= yield %>
  </body>
</html>
